@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
}

.card{ 
  @apply mb-5 block rounded-lg border border-gray-300 bg-white shadow-md;
}

.cart-badge {
  @apply absolute font-bold text-orange-600 ml-8 mt-0 text-center w-4;
}

.arrow {
  @apply after:inline-block after:content-["\0279E"] after:transition-transform after:duration-[0.3s] after:ease-[ease-out] after:pl-2  hover:after:translate-x-1;
}
.arrow::after {
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}
.arrow:hover::after {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
}

